pkgbase = archmod
	pkgdesc = Gestionnaire graphique de trainers pour jeux Steam sous Proton
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/BlaMacfly/ArchMod
	arch = x86_64
	license = MIT
	makedepends = rust
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	makedepends = pkgconf
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libappindicator-gtk3
	depends = librsvg
	depends = hicolor-icon-theme
	optdepends = protontricks: méthode d'injection de référence
	optdepends = wine: repli lorsque protontricks est absent
	optdepends = steam: bibliothèque de jeux à scanner
	options = !lto
	source = archmod-0.3.0.tar.gz::https://github.com/BlaMacfly/ArchMod/archive/refs/tags/v0.3.0.tar.gz
	source = archmod.desktop
	sha256sums = 8b378c8bf045c888324236c9e97bbfb63b152eb14db59a80ba87d8c6ad59b312
	sha256sums = 502ae15b8c32df696aac646651f749f39852f94a82e5c8180c4752a3fb5451ed

pkgname = archmod
