pkgbase = archmod-bin
	pkgdesc = Gestionnaire graphique de trainers pour jeux Steam sous Proton (binaire officiel)
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/BlaMacfly/ArchMod
	arch = x86_64
	license = MIT
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libappindicator-gtk3
	depends = librsvg
	depends = hicolor-icon-theme
	optdepends = protontricks: méthode d'injection de référence
	optdepends = wine: repli lorsque protontricks est absent
	optdepends = steam: bibliothèque de jeux à scanner
	provides = archmod
	conflicts = archmod
	source = archmod-bin-0.2.0.deb::https://github.com/BlaMacfly/ArchMod/releases/download/v0.2.0/ArchMod_0.2.0_amd64.deb
	sha256sums = e83691e8726105b3955329cc80d8f5ce1fd4cbc3e4100f7bf844e96f8f61a007

pkgname = archmod-bin
